* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
}

h1 {
    display: flex;
    color: beige;
    padding: 50px 0;
    height: 100px;
    width: 100%;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    text-transform: uppercase;
}

#d_title, h3{
    color: yellow;
}

#keybar {
    margin-top: 100px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.key {
    height: 50px;
    width: 80px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: white;
    transition: all 0.2s;
}

.on_press {
    transform: scale(1.3);
    box-shadow: 0px 0.5px 2px 3px yellow;
    border-radius: 5px;
}